:root {
  --transition-fast: all 0.3s ease-in-out;
  --transition-slow: all 0.3s ease-in-out;
  --nowflix-deep-purple: rgb(13, 7, 18);
  --nowflix-yellow: rgb(255, 255, 87);
  --hero-titles: normal "Amatic SC" 400 sans-serif;
  --browse-left-bg: rgb(40, 37, 61);
  --white-outline: rgba(255, 255, 255, 0.5);
  --tab-hover: rgb(62, 59, 81);
}
ul {
  list-style: none;
}
* {
  box-sizing: border-box;
}
