.browse-container {
  position: relative;
  margin-top: 0.4rem;
}
.browse-btn-container {
  display: flex;
  align-items: center;
}
.browse-dropdown {
  top: 3rem;
  left: -3rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  color: white;
  border: 1px solid var(--white-outline);
  display: flex;
  height: 30rem;
  width: 40rem;
  border-radius: 10px;
}
.chevron-indicator {
  font-size: 0.8rem;
  transition: var(--transition-fast);
}
.browse-container:hover .browse-btn,
.browse-container:hover .browse-dropdown {
  display: flex;
  color: var(--nowflix-yellow);
  visibility: visible;
  opacity: 1;
}
.browse-container:hover .chevron-indicator {
  transform: rotate(180deg);
  color: var(--nowflix-yellow);
}

.dark-active {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  background-color: var(--nowflix-deep-purple);
  opacity: 0.5;
  transition: var(--transition-fast);
}

/*inside dropdown*/
.browse-dropdown::before {
  top: -0.6rem;
  left: 5rem;
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--browse-left-bg);
  rotate: -45deg;
  border-top: 1px solid var(--white-outline);
  border-right: 1px solid var(--white-outline);
}

.browse-dropdown-left {
  background-color: var(--browse-left-bg);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.browse-dropdown-right {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--nowflix-deep-purple);
  width: 50%;
}

.tabs {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn.genres,
.btn.collections {
  color: white;
}
.default-tab {
  background-color: var(--tab-hover);
  border-radius: 10px;
}
/* .tabs:hover {
  background-color: var(--tab-hover);
  border-radius: 10px;
} */
.tabs-list > li {
  color: white;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
/* .tabs-list > li:hover {
  background-color: var(--li-hover);
  border-radius: 10px;
} */
.tabs-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0;
  padding-right: 1rem;
}
