.close-modal {
  position: absolute;
  top: 1.8rem;
  left: 2rem;
  font-size: 1.4rem;
  transition: var(--transition-fast);

  /* border: 3px solid transparent;
  padding-left: 0.3rem;
  padding-right: 0.3rem; */
}
.close-modal:hover {
  transform: scale(1.8);
  color: rgb(215, 61, 61);
  /* border: 3px solid red; */
}
.overview-container {
  position: fixed;
  margin: auto;
  top: 5%;
  left: 5%;
  z-index: 2;
  width: 90%;
  /* transform: translate(-50%, -50%); */
  height: 90%;
  /* inset: 0; */
  overflow: auto;
  /* top: 50%;
  left: 50%; */
  background-image: linear-gradient(to bottom, rgb(40, 5, 64), rgb(15, 1, 24));
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  border: 10px solid rgb(139, 108, 139);
}
.overview-container.active-modal {
  visibility: visible;
  opacity: 1;
}
.movie-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14rem;
  height: fit-content;
  gap: 0.5rem;
  margin-left: 2rem;
}
.movie-poster {
  border-radius: 5px;
  height: 20rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.like-container {
  border-radius: 8px;
  width: 100%;
  height: 4rem;
  display: flex;
  gap: 0.5rem;
}
.like,
.dislike {
  width: 50%;
  border-radius: 8px;
}

.add-to-my-list {
  border-radius: 8px;
  width: 100%;
  height: 4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-container {
  display: flex;
  gap: 0.5rem;
  border-radius: 8px;
  width: 100%;
  height: 4rem;
}
.share {
  border-radius: 8px;
  height: 4rem;
  width: 60%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.report-problem {
  width: 38%;
  border-radius: 8px;
}

.overview-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overview-container i {
  font-size: 1.8rem;
}

.overview-btns {
  background-color: rgba(105, 88, 109, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-fast);
  position: relative;
}
.overview-btns:hover {
  background-color: rgba(105, 88, 109, 1);
}
.like,
.dislike {
  transition: var(--transition-fast);
}
.like::before,
.dislike::before {
  content: "Like";
  border-radius: 8px;
  width: 4rem;
  padding: 0.5rem;
  text-align: center;
  height: fit-content;
  color: rgb(182, 180, 180);
  background-color: rgb(27, 22, 29);
  position: absolute;
  top: -2.8rem;
  font-size: 0.9rem;
  opacity: 0;
  transition: var(--transition-fast);
}
.dislike::before {
  content: "Dislike";
}
.like:hover.like::before,
.dislike:hover.dislike::before {
  opacity: 1;
}

/*      <div class="movie-info-overview">
        <h2 class="overview-title"></h2>
        <div class="moive-info-linear">
          <span class="year"></span>
          <span class="genres"></span>
          <span class="content-rating"></span>
        </div>
        <div class="description-container">
          <div class="movie-description"></div>
          <div class="language"></div>
          <div class="starring"></div>
          <div class="directed-by"></div>
          <hr />
        </div>
      </div>*/

.movie-info-overview {
  width: 50%;
  height: fit-content;
  /* height: 34rem;
  max-height: 50rem; */
  /* border: 1px solid white; */
  border-radius: 8px;
  color: rgb(181, 180, 180);
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scrollbar-color: transparent;
  align-content: space-evenly;
  justify-content: center;
}

.overview-title {
  width: 100%;
  /* height: 4.5rem; */
  /* border: 1px solid white; */
  border-radius: 8px;
  font-size: 3rem;
  color: white;
  margin: 0;
}
.movie-info-linear {
  height: 5rem;
  /* border: 1px solid white; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-radius: 8px;
  align-items: center;
  gap: 0.5rem;
}
.overview-year,
.overview-dur,
.overview-content-rating,
.overview-cc {
  /* border: 1px solid white; */
  border-radius: 8px;
  /* height: 3rem; */
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overview-content-rating {
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 0.8rem;
  padding: 0.5rem;
}
.description-container {
  height: 24.5rem;
  width: 100%;
  /* border: 1px solid white; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
.movie-description,
.language,
.starring,
.directed-by {
  color: white;
  font-weight: 400;
  white-space: pre-line;
  font-size: 1.1rem;
}
hr {
  color: white;
}

@media (max-width: 600px) {
  .overview-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  .movie-overview {
    align-content: center;
    position: absolute;
    margin-left: 0;
  }
  .movie-info-overview {
    align-content: center;
    justify-content: center;
    overflow: unset;
    position: absolute;
    top: 37rem;
    margin-right: 0;
    max-height: 50rem;
    text-align: center;
  }

  .movie-info-linear {
    margin-left: 2rem;
    /* text-align: center; */
  }
  /* .movie-poster {
    height: 3
    overflow: auto;
  } */
}
